<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Ina/Desktop/E2EProject">
        <classes>
<!--            <class name="Academy.HomePage">-->
<!--               <methods>-->
<!--                <include name="basePageNavigation"/>-->
<!--              </methods>-->
<!--             </class>-->
            <class name="Academy.ValidateNavigation">
<!--                <methods>-->
<!--                    <include name="basePageNavigation"/>-->
<!--                </methods>-->
            </class>
            <class name="Academy.ValidateTitle">
<!--                <methods>-->
<!--                    <include name="basePageNavigation"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>